<!-- templates/forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Recuperar Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Ingrese su Email" required>
            <button type="submit">Enviar enlace de recuperación</button>
        </form>
    </div>
</body>
</html>
