{% extends 'index_master.html' %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="container mt-5">
            <h1 class="text-center"></h1>
            <div class="row justify-content-center">
                <div class="col-md-4">  <!-- Ocupa 1/3 del espacio disponible -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Clientes Actuales</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Actualmente tienes <strong>{{ cantidad_clientes }}</strong> clientes.</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>RUT</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cliente in clientes %}
                                    <tr>
                                        <td>{{ cliente.rut }}</td>
                                        <td>{{ cliente.nombre }} {{ cliente.apellido }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">  <!-- Ocupa 1/3 del espacio disponible para proveedores -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Proveedores Actuales</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Actualmente tienes <strong>{{ cantidad_proveedores }}</strong> proveedores.</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>RUT</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proveedor in proveedores %}
                                    <tr>
                                        <td>{{ proveedor.rut }}</td>
                                        <td>{{ proveedor.nombre }} {{ proveedor.apellido }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}